<%- include("partials/header.ejs") %>





<div class="container">
    
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp !</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p class="btn btn-primary btn-lg">
                <a href="/campgrounds/new" style="color: white">Add New Campgrounds</a>
            </p>
        </div>
    </header>


    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campgrounds){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%=campgrounds.image%>" alt="image of camps" width="300px" height="300px">
                    <div class="caption">
                        <h4><%= campgrounds.name %></h4>
                    </div>
                </div>
            </div>
        <% }); %>

    </div>

</div>

<%- include("partials/footer.ejs") %>